@import "./nunito-sans/nunito-sans.css";
@import "./poppins/poppins.css";
@import "./inter/inter.css";
@import "./monteserrat/montserrat.css";
@import "./noto-sans/noto-sans.css";
@import "./open-sans/open-sans.css";
@import "./roboto/roboto.css";
@import "./rubik/rubik.css";
@import "./ubuntu/ubuntu.css";
@import "./twemoji/twemoji.css";
@import "./yekanBakh/yekanBakh.css";
@import "./vazir-matn/vazirMatn.css";