#!/bin/sh

APPSMITH_MONGODB_URI="mongodb://localhost:27017/appsmith"

APPSMITH_REDIS_URL="redis://127.0.0.1:6379"

APPSMITH_MAIL_ENABLED=false

APPSMITH_ENCRYPTION_PASSWORD=abcd
APPSMITH_ENCRYPTION_SALT=abcd

APPSMITH_CODEC_SIZE=10

APPSMITH_CLOUD_SERVICES_BASE_URL="https://release-cs.appsmith.com"
# APPSMITH_CLOUD_SERVICES_BASE_URL="http://localhost:8090"

#APPSMITH_OAUTH2_GOOGLE_CLIENT_ID=""
#APPSMITH_OAUTH2_GOOGLE_CLIENT_SECRET=""

#APPSMITH_OAUTH2_GITHUB_CLIENT_ID=""
#APPSMITH_OAUTH2_GITHUB_CLIENT_SECRET=""

#APPSMITH_SENTRY_DSN=
#APPSMITH_SENTRY_ENVIRONMENT=

#APPSMITH_RECAPTCHA_SITE_KEY=""
#APPSMITH_RECAPTCHA_SECRET_KEY=""