#!/bin/sh

APPSMITH_OAUTH2_GOOGLE_CLIENT_ID=""
APPSMITH_OAUTH2_GOOGLE_CLIENT_SECRET=""
APPSMITH_OAUTH2_GITHUB_CLIENT_ID=""
APPSMITH_OAUTH2_GITHUB_CLIENT_SECRET=""

APPSMITH_RAPID_API_KEY_VALUE=""

APPSMITH_MAIL_ENABLED=true
APPSMITH_MAIL_HOST=localhost
APPSMITH_MAIL_PORT=25
APPSMITH_MAIL_USERNAME=
APPSMITH_MAIL_PASSWORD=
APPSMITH_MAIL_SMTP_AUTH=true
APPSMITH_MAIL_SMTP_TLS_ENABLED=true

APPSMITH_MARKETPLACE_USERNAME=""
APPSMITH_MARKETPLACE_PASSWORD=""

APPSMITH_ENCRYPTION_PASSWORD=""
APPSMITH_ENCRYPTION_SALT=""

#APPSMITH_RECAPTCHA_SITE_KEY=""
#APPSMITH_RECAPTCHA_SECRET_KEY=""
