.popover {
  width: var(--trigger-width);
  display: flex;
  flex-direction: column;
}

.listBoxItem {
  display: flex;
  align-items: center;
  gap: var(--inner-spacing-2);
}

.listBoxItem:first-of-type {
  border-radius: 0;
}

.listBoxItem::before {
  content: "";
  height: var(--sizing-5);
  width: var(--sizing-5);
  --checkbox-border-width: var(--border-width-2);
  --checkbox-border-color: var(--color-bd-neutral);
  --checkbox-bg-color: var(--color-bg-accent);
  --checkbox-box-shadow: 0px 0px 0px var(--checkbox-border-width)
    var(--checkbox-border-color) inset;

  box-shadow: var(--checkbox-box-shadow);
}

.listBoxItem[data-selected]::before {
  background-color: var(--color-bg-accent);
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22white%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20%3E%20%3Cpath%20d%3D%22M5%2012l5%205l10%20-10%22%20%2F%3E%20%3C%2Fsvg%3E%20");
  background-size: var(--sizing-5);
  background-position: center;
  background-repeat: no-repeat;
  --checkbox-border-color: var(--color-bd-accent);
}

/* We don't want to default onliting that wds has on input,
 * so we are overriding the default outline here. */
.textField > div:has(> [data-input]) {
  box-shadow: none;
  border-bottom: var(--border-width-1) solid var(--color-bd);
}

.textField
  > div:has(
    > [data-input]:is([data-focused], [data-focus-within]):not([data-readonly])
  ) {
  box-shadow: none;
  border-radius: 0;
}

/* We don't want to show the border of input when the first item is focused 
 * as it conflicts with the border of the first item */
.popover:has(.listBoxItem:first-of-type[data-focus-visible]) .textField > div {
  border-color: transparent;
}

.emptyState {
  padding: var(--inner-spacing-4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.multiSelectValue > * {
  flex-shrink: 0;
  min-width: 0;
}

.ellipsisText {
  width: 7ch;
}

.selectedItemLabel {
  flex-shrink: 0;
}
