/**
 * Reason for using div.selectInputGroup instead of just .selectInputGroup is to increase the specificity of the selector
 * Also, we are removing the padding-inline from selectInputGroup and adding it to selectTriggerButton
 * This is done to ensure that width of the select popover is same as the width of the select trigger button. Otherwise,
 * the width of the popover will be less than the width of the trigger button because of the padding-inline by .inputGroup .
 */
div.selectInputGroup {
  padding-inline: 0;
}

button.selectTriggerButton {
  display: flex;
  align-items: center;
  padding-inline: var(--inner-spacing-2);
}

.selectTriggerButton:has(> [data-select-text]) {
  block-size: var(--body-line-height);
}

.selectTriggerButton [data-select-text] {
  display: flex;
  align-items: center;
  flex: 1;
}

.selectTriggerButton [data-select-text][data-placeholder] {
  color: var(--color-fg-neutral-subtle);
}

.listBoxItem {
  display: flex;
  align-items: center;
  gap: var(--inner-spacing-2);
}

.listBoxItem[data-selected] {
  background-color: transparent;
}

.listBoxItem::before {
  content: "";
  height: var(--sizing-5);
  width: var(--sizing-5);
  --checkbox-border-width: var(--border-width-2);
  --checkbox-border-color: var(--color-bd-neutral);
  --checkbox-bg-color: var(--color-bg-accent);
  --checkbox-box-shadow: 0px 0px 0px var(--checkbox-border-width)
    var(--checkbox-border-color) inset;

  box-shadow: var(--checkbox-box-shadow);
}

.listBoxItem[data-selected]::before {
  background-color: var(--color-bg-accent);
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22white%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20%3E%20%3Cpath%20d%3D%22M5%2012l5%205l10%20-10%22%20%2F%3E%20%3C%2Fsvg%3E%20");
  background-size: var(--sizing-5);
  background-position: center;
  background-repeat: no-repeat;
  --checkbox-border-color: var(--color-bd-accent);
}
