:root {
  /* orange */
  --appsmith-color-orange-900: #4b0082; /* Dark Indigo */
  --appsmith-color-orange-800: #5c0e99;
  --appsmith-color-orange-700: #6d1fb0;
  --appsmith-color-orange-600: #7e30c7;
  --appsmith-color-orange-500: #8f41de; /* Primary */
  --appsmith-color-orange-400: #a15ae5;
  --appsmith-color-orange-300: #b374ec;
  --appsmith-color-orange-200: #c695f3;
  --appsmith-color-orange-100: #d8b6fa;
  --appsmith-color-orange-50: #ebd8ff;

  /* black */
  --appsmith-color-black: #000;
  --appsmith-color-black-900: #191919;
  --appsmith-color-black-800: #393939;
  --appsmith-color-black-700: #575757;
  --appsmith-color-black-600: #6b6b6b;
  --appsmith-color-black-500: #939393;
  --appsmith-color-black-400: #b3b3b3;
  --appsmith-color-black-300: #d7d7d7;
  --appsmith-color-black-250: #e0dede;
  --appsmith-color-black-200: #e7e7e7;
  --appsmith-color-black-100: #f1f1f1;
  --appsmith-color-black-50: #f8f8f8;
  --appsmith-color-black-0: #ffffff;

  /* green */
  --appsmith-color-green-500: #03b364;
  --appsmith-color-green-50: #e5f6ec;

  /* yellow */
  --appsmith-color-yellow-500: #fec518;
  --appsmith-color-yellow-50: #fff8e2;

  /* red */
  --appsmith-color-red-500: #f13125;
  --appsmith-color-red-50: #ffeaec;
}
