:root {
  --wds-color-border: #E0DEDE;
  --wds-color-border-hover: #B3B3B3;

  --wds-color-border-danger: #D91921;
  --wds-color-border-danger-hover: #B90707;

  --wds-color-border-disabled: #E0DEDE;

  --wds-color-bg-strong: #E0DEDE;
  --wds-color-bg-strong-hover: #B3B3B3;

  --wds-color-bg-disabled: #F3F3F3;
  --wds-color-bg-disabled-strong: #A9A7A7;

  --wds-color-bg-danger: #D91921;
  --wds-color-bg-danger-hover: #B90707;
}
