apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "appsmith.fullname" . }}
  namespace: {{ include "appsmith.namespace" . }}
  labels:
    {{- include "appsmith.labels" . | nindent 4 }}
spec:
  replicas: 1
  serviceName: {{ include "appsmith.fullname" . }}
  updateStrategy:
    type: {{ .Values.strategyType }}
  selector:
    matchLabels:
      {{- include "appsmith.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "appsmith.selectorLabels" . | nindent 8 }}
        {{- if .Values.podLabels }}
        {{- toYaml .Values.podLabels | nindent 8 }}
        {{- end }}
    spec:
      {{- if .Values.schedulerName }}
      schedulerName: {{ .Values.schedulerName | quote }}
      {{- end }}
      serviceAccountName: {{ template "appsmith.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      initContainers:
      {{- if .Values.redis.enabled }}
      - name: redis-init-container
      {{- if ((.Values.initContainer.redis).image) }}
        image: {{ .Values.initContainer.redis.image }}
      {{- else }}
        image: {{ .Values.initContainer.redis.registry }}/{{ .Values.initContainer.redis.repository }}:{{ .Values.initContainer.redis.tag }}
      {{- end }}
        command: ['sh', '-c', "until redis-cli -h {{.Release.Name}}-redis-master.{{.Release.Namespace}}.svc.cluster.local ping ; do echo waiting for redis; sleep 2; done"]
        imagePullPolicy: {{ .Values.initContainer.redis.pullPolicy }}
      {{- end }}
      {{- if .Values.mongodb.enabled }}
      - name: mongo-init-container
      {{- if ((.Values.initContainer.mongodb).image) }}
        image: {{ .Values.initContainer.mongodb.image }}
      {{- else }}
        image: {{ .Values.initContainer.mongodb.registry }}/{{ .Values.initContainer.mongodb.repository }}:{{ .Values.initContainer.mongodb.tag }}
      {{- end }}
        command: ['sh', '-c', "until mongo --host appsmith-mongodb.{{.Release.Namespace}}.svc.cluster.local --eval 'db.runCommand({ping:1})' ; do echo waiting for mongo; sleep 2; done"]
        imagePullPolicy: {{ .Values.initContainer.mongodb.pullPolicy }}
      {{- end }}
      containers:
        - name: {{ .Values.containerName }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.registry }}/{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.HTTPContainerPort | default 80 }}
              protocol: TCP
            - name: https
              containerPort: 443
              protocol: TCP
          {{- $probes := .Values.probes | default dict }}
          startupProbe:
            # The `livenessProbe` and `readinessProbe` will be disabled until the `startupProbe` is successful.
            httpGet:
              port: http
              path: {{ dig "startupProbe" "api" "/api/v1/health" $probes }}
            failureThreshold: {{ dig "startupProbe" "failureThreshold" 3 $probes }}
            periodSeconds: {{ dig "startupProbe" "periodSeconds" 60 $probes }}
          livenessProbe:
            httpGet:
              port: http
              path: {{ dig "livenessProbe" "api" "/api/v1/health" $probes }}
            failureThreshold: {{ dig "livenessProbe" "failureThreshold" 3 $probes }}
            periodSeconds: {{ dig "livenessProbe" "periodSeconds" 60 $probes }}
          readinessProbe:
            httpGet:
              port: http
              path: {{ dig "readinessProbe" "api" "/api/v1/health" $probes }}
            failureThreshold: {{ dig "readinessProbe" "failureThreshold" 3 $probes }}
            periodSeconds: {{ dig "readinessProbe" "periodSeconds" 60 $probes }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          volumeMounts:
            - name: data
              mountPath: /appsmith-stacks
          env:
          {{- if .Values.HTTPContainerPort }}
            - name: PORT
              value: "{{ .Values.HTTPContainerPort }}"
          {{- end }}
            - name: APPSMITH_ENABLE_EMBEDDED_DB
              value: "0"
          envFrom:
            - configMapRef:
                name: {{ include "appsmith.fullname" . }}
            {{- if .Values.secretName }}
            - secretRef:
                name: {{ .Values.secretName }}
            {{- end }}
      {{- if .Values.image.pullSecrets}}
      imagePullSecrets:
        - name: {{ .Values.image.pullSecrets }}
      {{- end }}
      volumes:
  {{- if not .Values.persistence.enabled }}
      - name: data
        emptyDir: {}
  {{- else }}
  volumeClaimTemplates:
    - metadata:
        name: data
        {{- if .Values.persistence.annotations }}
        annotations: {{- include "tplvalues.render" (dict "value" .Values.persistence.annotations "context" $) | nindent 10 }}
        {{- end }}
      spec:
        accessModes:
        {{- range .Values.persistence.accessModes }}
          - {{ . | quote }}
        {{- end }}
        resources:
          requests:
            storage: {{ .Values.persistence.size | quote }}
        {{ include "storage.class" (dict "persistence" .Values.persistence "global" .Values.global) }}
  {{- end }}
