@font-face {
    font-family: "Widget-Icons";
    src: url("./Widget-Icons.eot?635ea8622938d815fce3ce0f2d7afa01?#iefix") format("embedded-opentype"),
url("./Widget-Icons.woff2?635ea8622938d815fce3ce0f2d7afa01") format("woff2"),
url("./Widget-Icons.woff?635ea8622938d815fce3ce0f2d7afa01") format("woff"),
url("./Widget-Icons.ttf?635ea8622938d815fce3ce0f2d7afa01") format("truetype"),
url("./Widget-Icons.svg?635ea8622938d815fce3ce0f2d7afa01#Widget-Icons") format("svg");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: Widget-Icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-alert:before {
    content: "\f101";
}
.icon-button:before {
    content: "\f102";
}
.icon-checkbox:before {
    content: "\f103";
}
.icon-collapse:before {
    content: "\f104";
}
.icon-container:before {
    content: "\f105";
}
.icon-datepicker:before {
    content: "\f106";
}
.icon-dropdown:before {
    content: "\f107";
}
.icon-file-upload:before {
    content: "\f108";
}
.icon-image:before {
    content: "\f109";
}
.icon-input:before {
    content: "\f10a";
}
.icon-location-picker:before {
    content: "\f10b";
}
.icon-modal:before {
    content: "\f10c";
}
.icon-plus:before {
    content: "\f10d";
}
.icon-radio:before {
    content: "\f10e";
}
.icon-rich-text:before {
    content: "\f10f";
}
.icon-switch:before {
    content: "\f110";
}
.icon-table:before {
    content: "\f111";
}
.icon-tabs:before {
    content: "\f112";
}
.icon-text:before {
    content: "\f113";
}
