{
  admin off
	servers {
		trusted_proxies static 0.0.0.0/0
	}
}

(file_server) {
	file_server {
		precompressed br gzip
		disable_canonical_uris
	}
}

(reverse_proxy) {
	reverse_proxy {
		to 127.0.0.1:{args[0]}
		header_up -Forwarded
	}
}

{$CADDY_LISTEN}

header -Server

header Content-Security-Policy "frame-ancestors {$APPSMITH_ALLOWED_FRAME_ANCESTORS:'self' *}"
header X-Content-Type-Options "nosniff"

root * /opt/appsmith/editor

@file_exists file
handle @file_exists {
  import file_server
}

handle {
  root * {$NGINX_WWW_PATH}
	try_files /loading.html /index.html
	import file_server
}

handle /info {
	root * /opt/appsmith
	rewrite * /info.json
	import file_server
}

@backend path /api/* /oauth2/* /login/*
handle @backend {
	import reverse_proxy 8080
}

handle /rts/* {
	import reverse_proxy 8091
}

redir /supervisor /supervisor/
handle_path /supervisor/* {
	import reverse_proxy 9001
}

handle_errors {
	respond "{err.status_code} {err.status_text}" {err.status_code}
}

import {$TMP}/caddy/*
