.editorHeader {
  height: 38px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  border-top: 1px solid var(--ads-v2-color-gray-300);
  font-weight: 500;
  justify-content: space-between;
  cursor: pointer;
}

.editorHeaderControls {
  display: flex;
  gap: 1rem;
  justify-content: right;
}

.editorBody {
  border-top: 1px solid var(--ads-v2-color-gray-300);
  overflow: hidden;
}

.hasBorder {
  border-bottom: 1px solid var(--ads-v2-color-gray-300);
}
