.contentRight {
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  border-width: 1px;
  border-top: none;
}

.contentRightBody {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.headerControls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 48px;
}
