# Rename this to .env
# Note: Please donot include quotes (double or single) in the values

# Sentry
APPSMITH_SENTRY_DSN=

# Hotjar
APPSMITH_HOTJAR_HJID=
APPSMITH_HOTJAR_HJSV=

# Google OAuth
APPSMITH_GOOGLE_OAUTH_CLIENT_ID=

# Github OAuth
APPSMITH_GITHUB_OAUTH_CLIENT_ID=

# Segment
APPSMITH_SEGMENT_KEY=

# RapidAPI
APPSMITH_RAPID_API_KEY=

# Optimizely
APPSMITH_OPTIMIZELY_KEY=

# Algolia Search (Docs)
APPSMITH_ALGOLIA_API_ID=
APPSMITH_ALGOLIA_API_KEY=
APPSMITH_ALGOLIA_SEARCH_INDEX_NAME=

#Client log level (debug | error)
APPSMITH_CLIENT_LOG_LEVEL=


# GOOGLE client API KEY
APPSMITH_GOOGLE_MAPS_API_KEY=