# This is a comment.
# Each line is a file pattern followed by one or more owners.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

app/client/.husky @KelvinOm
app/client/.yarn @KelvinOm
app/client/.editorconfig @KelvinOm
app/client/.eslintrc.base.json @KelvinOm
app/client/.eslintrc.js @KelvinOm
app/client/.gitignore @KelvinOm
app/client/.lintstagedrc.json @KelvinOm
app/client/.nvmrc @KelvinOm
app/client/.prettierignore @KelvinOm
app/client/.prettierrc @KelvinOm
app/client/.yarnrc.yml @KelvinOm
app/client/jest.config.js @KelvinOm
app/client/package.json @KelvinOm
app/client/tsconfig.json @KelvinOm
app/client/tsconfig.path.json @KelvinOm

# WDS team
app/client/packages/design-system/* @appsmithorg/wds-team
app/client/packages/storybook/* @appsmithorg/wds-team
app/client/src/widgets/wds/* @appsmithorg/wds-team @appsmithorg/anvil-team

# Anvil-team
app/client/src/layoutSystems/anvil/* @appsmithorg/anvil-team

# App viewers pod
app/client/src/widgets/* @appsmithorg/widgets-blocks
app/client/src/components/propertyControls/* @appsmithorg/widgets-blocks
app/client/src/sagas/OneClickBindingSaga.ts @appsmithorg/widgets-blocks
app/client/src/WidgetQueryGenerators/* @appsmithorg/widgets-blocks
app/client/src/components/editorComponents/WidgetQueryGeneratorForm/* @appsmithorg/widgets-blocks
app/client/src/pages/AppViewer/* @appsmithorg/widgets-blocks

# New Developers Pod
app/server/appsmith-server/src/main/java/com/appsmith/server/featureflags/* @nilanshbansal
app/server/appsmith-server/src/main/java/com/appsmith/server/services/UserIdentifierService.java @nilanshbansal
app/server/appsmith-server/src/main/java/com/appsmith/server/services/UserIdentifierServiceImpl.java @nilanshbansal
app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserIdentifierServiceCE.java @nilanshbansal
app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserIdentifierServiceCEImpl.java @nilanshbansal
app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/UserIdentifierServiceCEImplTest.java @nilanshbansal
app/server/appsmith-server/src/main/java/com/appsmith/server/services/CacheableFeatureFlagHelper.java @nilanshbansal
app/server/appsmith-server/src/main/java/com/appsmith/server/services/CacheableFeatureFlagHelperImpl.java @nilanshbansal
app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/CacheableFeatureFlagHelperCE.java @nilanshbansal
app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/CacheableFeatureFlagHelperCEImpl.java @nilanshbansal
app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/FeatureFlagServiceCE.java @nilanshbansal
app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/FeatureFlagServiceCEImpl.java @nilanshbansal
app/server/appsmith-server/src/main/java/com/appsmith/server/services/FeatureFlagService.java @nilanshbansal
app/server/appsmith-server/src/main/java/com/appsmith/server/services/FeatureFlagServiceImpl.java @nilanshbansal
app/server/appsmith-server/src/test/java/com/appsmith/server/services/FeatureFlagServiceTest.java @nilanshbansal

# UI Builders Pod
app/client/generators/* @appsmithorg/anvil-team
app/client/src/actions/canvasSelectionActions.ts @appsmithorg/anvil-team
app/client/src/actions/reflowActions.ts @appsmithorg/anvil-team
app/client/src/actions/widgetSelectionActions.ts @appsmithorg/anvil-team
app/client/src/components/propertyControls/* @appsmithorg/anvil-team
app/client/src/layoutSystems/anvil/* @appsmithorg/anvil-team
app/client/src/pages/Editor/Canvas.tsx @appsmithorg/anvil-team
app/client/src/pages/Editor/CanvasLayoutConversion/* @appsmithorg/anvil-team
app/client/src/pages/Editor/PropertyPane/* @appsmithorg/anvil-team
app/client/src/pages/Editor/WidgetsEditor/* @appsmithorg/anvil-team
app/client/src/reducers/entityReducers/autoHeightReducers/* @appsmithorg/anvil-team
app/client/src/reducers/entityReducers/canvasWidgetsReducer.ts @appsmithorg/anvil-team
app/client/src/reflow/* @appsmithorg/anvil-team
app/client/src/sagas/CanvasSagas/* @appsmithorg/anvil-team
app/client/src/sagas/ReplaySaga.ts @appsmithorg/anvil-team
app/client/src/sagas/SnapshotSagas.ts @appsmithorg/anvil-team
app/client/src/sagas/WidgetAdditionSagas.ts @appsmithorg/anvil-team
app/client/src/sagas/WidgetBlueprintSagas.ts @appsmithorg/anvil-team
app/client/src/sagas/WidgetDeletionSagas.ts @appsmithorg/anvil-team
app/client/src/sagas/WidgetOperationSagas.tsx @appsmithorg/anvil-team
app/client/src/sagas/WidgetOperationUtils.ts @appsmithorg/anvil-team
app/client/src/sagas/WidgetSelectUtils.ts @appsmithorg/anvil-team
app/client/src/sagas/WidgetSelectionSagas.ts @appsmithorg/anvil-team
app/client/src/sagas/layoutConversionSagas.ts @appsmithorg/anvil-team
app/client/src/selectors/canvasSelectors.ts @appsmithorg/anvil-team
app/client/src/selectors/widgetSelectors.ts @appsmithorg/anvil-team
app/client/src/utils/hooks/useAllowEditorDragToSelect.ts @appsmithorg/anvil-team
app/client/src/utils/hooks/useClickToSelectWidget.tsx @appsmithorg/anvil-team
app/client/src/utils/hooks/useDynamicAppLayout.tsx @appsmithorg/anvil-team
app/client/src/utils/hooks/usePositionedContainerZIndex.ts @appsmithorg/anvil-team
app/client/src/utils/hooks/useReflow.ts @appsmithorg/anvil-team
app/client/src/utils/hooks/useWidgetSelection.ts @appsmithorg/anvil-team
app/client/src/widgets/BaseWidget.tsx @appsmithorg/anvil-team
app/client/src/widgets/BaseWidgetHOC/* @appsmithorg/anvil-team
app/client/src/widgets/CanvasWidget.tsx @appsmithorg/anvil-team
app/client/src/widgets/ContainerWidget/* @appsmithorg/anvil-team
app/client/src/widgets/MetaHOC.tsx @appsmithorg/anvil-team
app/client/src/widgets/withWidgetProps.tsx @appsmithorg/anvil-team

# Git Pod
app/server/appsmith-git/ @appsmithorg/git-be-reviewers
app/server/**/git/** @appsmithorg/git-be-reviewers
app/server/**/import/** @appsmithorg/git-be-reviewers
app/server/**/export/** @appsmithorg/git-be-reviewers
app/server/**/*Git*.java @appsmithorg/git-be-reviewers
app/server/**/*Import*.java @appsmithorg/git-be-reviewers
app/server/**/*Export*.java @appsmithorg/git-be-reviewers

app/client/src/pages/Editor/gitSync/ @appsmithorg/git-fe-reviewers
app/client/packages/dsl/ @appsmithorg/git-fe-reviewers

# Data Platform

app/client/src/actions/datasourceActions.ts @ayushpahwa
app/client/src/api/ActionAPI.tsx @ayushpahwa
app/client/src/ce/components/DSDataFilter/index.tsx @ayushpahwa
app/client/src/ce/constants/ReduxActionConstants.tsx @ayushpahwa
app/client/src/ce/sagas/ApplicationSagas.tsx @ayushpahwa
app/client/src/ce/selectors/environmentSelectors.tsx @ayushpahwa
app/client/src/ce/utils/Environments/index.tsx @ayushpahwa
app/client/src/components/BottomBar/index.tsx @ayushpahwa
app/client/src/components/editorComponents/form/fields/EmbeddedDatasourcePathField.tsx @ayushpahwa
app/client/src/components/formControls/utils.test.ts @ayushpahwa
app/client/src/components/formControls/utils.ts @ayushpahwa
app/client/src/entities/Datasource/index.ts @ayushpahwa
app/client/src/entities/FeatureFlags.ts @ayushpahwa
app/client/src/navigation/FocusEntity.ts @ayushpahwa
app/client/src/pages/Editor/APIEditor/* @ayushpahwa
app/client/src/pages/Editor/DataSourceEditor/* @ayushpahwa
app/client/src/pages/Editor/IntegrationEditor/DatasourceCard.tsx @ayushpahwa
app/client/src/pages/Editor/IntegrationEditor/IntegrationsHomeScreen.tsx @ayushpahwa
app/client/src/pages/Editor/IntegrationEditor/NewApi.tsx @ayushpahwa
app/client/src/pages/Editor/QueryEditor/EditorJSONtoForm.tsx @ayushpahwa
app/client/src/pages/Editor/SaaSEditor/DatasourceCard.tsx @ayushpahwa
app/client/src/pages/Editor/SaaSEditor/DatasourceForm.tsx @ayushpahwa
app/client/src/pages/Editor/gitSync/ReconnectDatasourceModal.tsx @ayushpahwa
app/client/src/pages/common/datasourceAuth/index.tsx @ayushpahwa
app/client/src/reducers/entityReducers/datasourceReducer.ts @ayushpahwa
app/client/src/sagas/ActionExecution/PluginActionSaga.ts @ayushpahwa
app/client/src/sagas/DatasourcesSagas.ts @ayushpahwa
app/client/src/sagas/QueryPaneSagas.ts @ayushpahwa
app/client/src/transformers/RestAPIDatasourceFormTransformer.ts @ayushpahwa


# Followed Globstar paths in combination with wildcard paths. Reference https://docs.gitlab.com/ee/user/project/codeowners/reference.html#globstar-paths
# Data Platform Pod
app/server/**/*Action* @nidhi-nair @sondermanish
app/server/**/*Datasource* @nidhi-nair @sondermanish
app/server/**/*OAuth2* @nidhi-nair @sondermanish
app/server/**/*Authentication* @nidhi-nair @sondermanish
app/server/**/*Environment* @nidhi-nair @sondermanish

# Team Managers pod
app/client/src/pages/Settings/**/* @ankitakinger
app/client/src/pages/workspace/settings.tsx @ankitakinger
app/client/src/pages/workspace/AppInviteUsersForm.tsx @ankitakinger
app/client/src/pages/workspace/WorkspaceInviteUsersForm.tsx @ankitakinger
app/client/src/components/editorComponents/form/FormDialogComponent.tsx @ankitakinger
app/client/src/ce/pages/AdminSettings/**/* @ankitakinger
app/client/src/ee/pages/AdminSettings/**/* @ankitakinger
app/client/src/ce/pages/Applications/EmbedSnippetTab.tsx @ankitakinger
app/client/src/ee/pages/Applications/EmbedSnippetTab.tsx @ankitakinger
app/client/src/ce/pages/Applications/PrivateEmbedSettings.tsx @ankitakinger
app/client/src/ee/pages/Applications/PrivateEmbedSettings.tsx @ankitakinger
app/client/src/ce/pages/workspace/Members.tsx @ankitakinger
app/client/src/ee/pages/workspace/Members.tsx @ankitakinger
app/client/src/ce/pages/workspace/InviteUsersForm.tsx @ankitakinger
app/client/src/ee/pages/workspace/InviteUsersForm.tsx @ankitakinger
app/client/src/ce/pages/Upgrade/**/* @ankitakinger
app/client/src/ee/pages/Auditlogs/**/* @ankitakinger
app/client/cypress/e2e/Regression/Enterprise/**/* @ankitakinger
app/client/cypress/e2e/Regression/EE/Enterprise/**/* @ankitakinger
app/client/cypress/e2e/Regression/ClientSide/AdminSettings/**/* @ankitakinger
app/client/cypress/e2e/Regression/ClientSide/Google/**/* @ankitakinger
app/client/cypress/e2e/Regression/ClientSide/Github/**/* @ankitakinger
app/client/cypress/e2e/Regression/ClientSide/FormLogin/**/* @ankitakinger
app/client/cypress/e2e/Regression/ClientSide/Auditlogs/**/* @ankitakinger

# FE pod
app/client/src/actions/evaluationActions.ts @ApekshaBhosale
app/client/src/ce/entities/DataTree/**/* @ApekshaBhosale
app/client/src/ce/entities/DependencyMap/**/* @ApekshaBhosale
app/client/src/ce/entities/workers/**/* @ApekshaBhosale
app/client/src/ee/entities/DataTree* @ApekshaBhosale
app/client/src/ee/entities/workers/**/* @ApekshaBhosale
app/client/src/sagas/EvaluationsSaga.ts @ApekshaBhosale
app/client/src/sagas/EvalWorkerActionSagas.ts @ApekshaBhosale
app/client/src/sagas/LintingSagas.ts @ApekshaBhosale
app/client/src/sagas/PostEvaluationSags.ts @ApekshaBhosale
app/client/src/sagas/PostLintingSagas.ts @ApekshaBhosale
app/client/src/workers/**/* @ApekshaBhosale
app/client/src/sagas/JSLibrarySaga.ts @ApekshaBhosale
app/client/src/ce/ActionExecution/ActionExecutionSagas.ts @ApekshaBhosale
app/client/src/ee/ActionExecution/ActionExecutionSagas.ts @ApekshaBhosale
app/client/src/ce/JSFunctionExecutionSaga.ts @ApekshaBhosale
app/client/src/ee/JSFunctionExecutionSaga.ts @ApekshaBhosale

# Enterprise Success
app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/**/* @sharat87 @abhvsn @AnaghHegde

# DevOps & Shri
deploy/**/* @sharat87 @pratapaprasanna
.github/workflows/*.yml @sharat87
app/server/**/pom.xml @sharat87
app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/BaseAppsmithRepositoryCEImpl.java @sharat87
app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/params/QueryAllParams.java @sharat87
app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/bridge/**/* @sharat87

#Cypress
app/client/cypress/**/* @ApekshaBhosale @sagar-qa007
