.editableText {
  width: 100%;
  & > * {
    pointer-events: none;
  }
}

.floatingPanelWrapper {
  padding-top: 10px;
  z-index: 999999;
}

.floatingPanel {
  display: flex;
  align-items: center;
  gap: 4px;
  background: #fff;
  padding: 8px;
  border-radius: 8px;
  box-shadow: rgba(54, 62, 72, 0.15) 0px 2.1px 9.4px 0px;
  border: 1px solid rgb(92.637% 92.821% 93.073%);
}

.fontSelect:global(.ads-v2-select[data-size="md"]) {
  display: flex;
  align-items: center;
  --select-height: 32px;
  --select-padding-y: 5px;
}

.fontAlignSegmentedControl {
  margin: 0 8px;
}

.fontStyleButton {
  --toggle-height: 30px;
  --toggle-width: 30px;
  --ads-v2-spaces-2: 6px;
}
