@import './tailwind.css';
/**
* ---------------------------------------------------------------------------------------------------
* blueprint specific css overrides
* ---------------------------------------------------------------------------------------------------
*/
.bp3-panel-stack-view {
  background: none;
}


/**
* ---------------------------------------------------------------------------------------------------
* custom css
* ---------------------------------------------------------------------------------------------------
*/

* {
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-100;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-300;
}

.scrollbar-sm::-webkit-scrollbar-track {
  @apply bg-current;
}

.scrollbar-sm::-webkit-scrollbar-thumb {
  @apply bg-transparent;
}

.scrollbar-sm:hover::-webkit-scrollbar-thumb {
  @apply bg-gray-300;
}
