{
  "presets": [
    ["react-app", {
      "typescript": true,
      "absoluteRuntime": false,
      "development": true,
      "importSource": "@emotion/react"
    }]
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-transform-class-properties", { "loose": false }],
    "@babel/plugin-transform-classes",
    ["@babel/plugin-transform-typescript", {
      "onlyRemoveTypeImports": true,
      "allowNamespaces": true,
      "allowDeclareFields": true,
      "rewriteImportExtensions": true,
      "isTSX": true,
      "optimizeConstEnums": true
    }],
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "utils": "./src/utils/",
        "test/*": ["../test/*"],
        "underscore": "lodash",
        "entities": "./src/entities/"
      }
    }],
    "babel-plugin-styled-components"
  ]
}
