{
  "presets": [
    ["@babel/preset-env", {
      "useBuiltIns": "entry",
      "corejs": 3
    }],
    ["@babel/preset-react", {
      "runtime": "automatic",
      "development": true,
      "importSource": "@welldone-software/why-did-you-render"
    }],
    "@babel/preset-typescript"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "utils": "./src/utils/",
        "test/*": ["../test/*"],
        "underscore": "lodash",
        "constants": "./src/constants/",
        "components": "./src/components/",
        "selectors": "./src/selectors/",
        "reducers": "./src/reducers/",
        "actions": "./src/actions/",
        "api": "./src/api/",
        "assets": "./src/assets/",
        "sagas": "./src/sagas/",
        "ee": "./src/ee/",
        "workbox-*": "../node_modules/workbox-*"
      }
    }],
    "@babel/plugin-transform-runtime",
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    ["@babel/plugin-proposal-private-methods", { "loose": true }],
    ["@babel/plugin-proposal-private-property-in-object", { "loose": true }],
    ["@babel/plugin-proposal-object-rest-spread", { "loose": true }],
    "babel-plugin-styled-components"
  ]
}
