{
  "presets": [
    ["react-app", {
      "typescript": true,
      "absoluteRuntime": false,
      "development": true,
      "importSource": "@emotion/react"
    }],
    ["@babel/preset-typescript", {
      "isTSX": true,
      "allExtensions": true,
      "onlyRemoveTypeImports": true,
      "allowNamespaces": true,
      "optimizeConstEnums": true
    }]
  ],
  "plugins": [
    ["@babel/plugin-transform-typescript", {
      "onlyRemoveTypeImports": true,
      "allowNamespaces": true,
      "allowDeclareFields": true,
      "rewriteImportExtensions": true,
      "isTSX": true,
      "optimizeConstEnums": true
    }],
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "utils": "./src/utils/",
        "test/*": ["../test/*"],
        "underscore": "lodash",
        "constants": "./src/constants/",
        "components": "./src/components/",
        "selectors": "./src/selectors/",
        "reducers": "./src/reducers/",
        "actions": "./src/actions/",
        "api": "./src/api/",
        "assets": "./src/assets/",
        "sagas": "./src/sagas/",
        "entities": "./src/entities/"
      }
    }],
    "babel-plugin-styled-components"
  ]
}
