# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
.pnp.*

# testing
/coverage

/stacks

# production
build
dist
# used to pack build artifacts in CI
build.tar
/build_airgap

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*
!.env.example

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/out
/public/fonts/*
/src/assets/icons/fonts/*
.idea
.storybook-out/
cypress/videos
cypress/screenshots
cypress/limited-tests.txt
cypress.env.json
cypress/cypress-logs
results/


/docker/*.pem
/docker/nginx.conf
/docker/nginx-root.conf

storybook-static/*
build-storybook.log

.eslintcache
.vscode
TODO

/nginx

/public/static/wds/

storybook-static
stats.json

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
