{
	"src/**/*.{ts,tsx}": ["npx eslint --fix", "npx prettier --write"],
	"cypress/**/*.js": ["npx eslint --fix", "npx prettier --write"],
	"packages/**/*.{ts,tsx}": ["npx eslint --fix", "npx prettier --write"]
}
