@charset "UTF-8";

@font-face {
  font-family: "appsmith-widget-font";
  src:url("fonts/appsmith-widget-font.eot");
  src:url("fonts/appsmith-widget-font.eot?#iefix") format("embedded-opentype"),
    url("fonts/appsmith-widget-font.woff") format("woff"),
    url("fonts/appsmith-widget-font.ttf") format("truetype"),
    url("fonts/appsmith-widget-font.svg#appsmith-widget-font") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "appsmith-widget-font" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="appsmith-widget-"]:before,
[class*=" appsmith-widget-"]:before {
  font-family: "appsmith-widget-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.appsmith-widget-alert:before {
  content: "\61";
}
.appsmith-widget-button:before {
  content: "\62";
}
.appsmith-widget-checkbox:before {
  content: "\63";
}
.appsmith-widget-collapse:before {
  content: "\64";
}
.appsmith-widget-datepicker:before {
  content: "\65";
}
.appsmith-widget-dropdown:before {
  content: "\66";
}
.appsmith-widget-file-upload:before {
  content: "\67";
}
.appsmith-widget-image:before {
  content: "\68";
}
.appsmith-widget-input:before {
  content: "\69";
}
.appsmith-widget-location-picker:before {
  content: "\6a";
}
.appsmith-widget-modal:before {
  content: "\6b";
}
.appsmith-widget-radio:before {
  content: "\6c";
}
.appsmith-widget-rich-text:before {
  content: "\6d";
}
.appsmith-widget-switch:before {
  content: "\6e";
}
.appsmith-widget-table:before {
  content: "\6f";
}
.appsmith-widget-tabs:before {
  content: "\70";
}
.appsmith-widget-text:before {
  content: "\71";
}
