GRAFANA_USERNAME=18690
GRAFANA_PASSWORD=eyJrIjoiZGEyNGNhYzNjMWMwNGJmYWU2MTAyN2VkYWRjMzAyM2EzZWJjZjczYiIsIm4iOiJsb2NhbGhvc3QtcHJvbWV0aGV1cyIsImlkIjo0MzMyNzl9
APPSMITH_USERNAME=demo@appsmith.com
APPSMITH_PASSWORD=demo@appsmith