:root {
  --wds-v2-spacing-root: 4px;

  --wds-v2-spacing-0: 0px;
  --wds-v2-spacing-1: var(--wds-v2-spacing-root);
  --wds-v2-spacing-2: calc(var(--wds-v2-spacing-root) * 2);
  --wds-v2-spacing-4: calc(var(--wds-v2-spacing-root) * 4);
}
