.table {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-grow: 1;
  background: var(--color-bg-secondary);
  border-style: solid;
  border-width: var(--border-width-1);
  border-color: var(--color-bd);
  border-radius: var(--border-radius-elevation-3);
  box-sizing: border-box;

  [data-table-wrapper] {
    display: block;
    position: relative;
    overflow: auto hidden;
    scrollbar-color: initial;
    container-type: inline-size;
  }

  & [role="table"] {
    border-spacing: 0;
    display: table;
  }
}
