:global(.auto-layout) .inputComponentWrapper {
  min-width: 60px;
}

:global(.auto-layout) .textInputWrapper {
  flex: 0 40px !important;
}

@container canvas-container (max-width: 360px) {
  :global(.auto-layout) .label {
    margin-bottom: 4px !important;
  }
  :global(.auto-layout) .textInputWrapper {
    min-height: 36px !important;
    flex-basis: 36px !important;
  }
}

@container canvas-container (min-width: 361px) {
  :global(.auto-layout) .label {
    margin-bottom: 10px !important;
    font-size: 15px !important;
  }
}
