/**
  ASYMMETRIC PADDING
  [data-elevation] — true or false, indicates whether elevation is enabled or not
  [elevation="1"] — section
  [elevation="2"] — zone
  [elevation="3"] — card
*/
.anvilWidgetWrapper {
  /** If a section,zone and card have elevation, then add padding */
  [data-elevation="true"][elevation="1"],
  [data-elevation="true"][elevation="2"],
  [data-elevation="true"][elevation="3"],
  /** If a section has any zone with elevation, then add padding to all the zones that don't have elevation */
  [elevation="1"]:has([data-elevation="2"][data-elevation="true"]) [data-elevation="2"][data-elevation="false"],
  /** If a zone has any card with elevation, then add padding to all the cards that don't have elevation */
  [elevation="2"]:has([data-elevation="3"][data-elevation="true"]) [data-elevation="3"][data-elevation="false"] {
    padding-block: var(--outer-spacing-3);
    padding-inline: var(--outer-spacing-3);
  }

  [data-elevation="false"][elevation="2"] {
    min-height: var(--sizing-8);
  }

  /** if elevation is enabled for card, then add elevation styles-3 to the card */
  [elevation="3"][data-elevation="true"] {
    background-color: var(--color-bg-elevation-3);
    border-radius: var(--border-radius-elevation-3);
    outline: var(--border-width-1) solid var(--color-bd-elevation-3);
  }

  /** if elevation is enabled for zone, then add elevation styles-2 to the zone */
  [elevation="2"][data-elevation="true"] {
    background-color: var(--color-bg-elevation-2);
    border-radius: var(--border-radius-elevation-2);
    outline: var(--border-width-1) solid var(--color-bd-elevation-2);
  }

  /** if elevation is enabled for section and zone and cards both have no elevation, then add elevation styles-2 to the section */
  [elevation="1"][data-elevation="true"]:has(
      [elevation="2"][data-elevation="false"]
    ):has([elevation="3"][data-elevation="false"]) {
    background-color: var(--color-bg-elevation-2);
    border-radius: var(--border-radius-elevation-2);
    outline: var(--border-width-1) solid var(--color-bd-elevation-2);
  }

  /** if elevation is enabled for section and any of zone or card has elevation, then add elevation styles-2 to the section */
  [elevation="1"][data-elevation="true"]:has([data-elevation="true"]) {
    background-color: var(--color-bg-elevation-1);
    outline: var(--border-width-1) solid var(--color-bd-elevation-2);
  }

  /** if elevation is enabled for sectionm zone has elevation and card have no elevation, then add border-radius-1 */
  [elevation="1"][data-elevation="true"]:has(
      [elevation="2"][data-elevation="true"]
    ):has([elevation="3"][data-elevation="false"]) {
    border-radius: var(--border-radius-elevation-1);
  }

  /** if elevation is enabled for section and zone has no elevation and card has elevation, then add border-radius-2 */
  [elevation="1"][data-elevation="true"]:has(
      [elevation="2"][data-elevation="false"]
    ):has([elevation="3"][data-elevation="true"]) {
    border-radius: var(--border-radius-elevation-2);
  }

  /** if elevation is enabled for section and zone and card both have elevation, then add elevation styles-1 to the section */
  [elevation="1"][data-elevation="true"]:has(
      [elevation="2"][data-elevation="true"]
    ):has([elevation="3"][data-elevation="true"]) {
    background-color: var(--color-bg-elevation-1);
    border-radius: var(--border-radius-elevation-1);
    outline: var(--border-width-1) solid var(--color-bd-elevation-1);
  }
}
