.root {
  position: relative;
  padding: 24px 0 24px 40px;

  ul {
    margin: var(--outer-spacing-3) 0 var(--outer-spacing-5);
    padding: 0 0 0 var(--inner-spacing-4);
    list-style-type: disc;
  }

  li {
    margin: var(--outer-spacing-3) 0;
  }
}

.message[data-role="user"] {
  align-self: flex-end;
  background-color: rgba(from var(--color-bg-neutral) r g b / 0.1);
}

.message[data-role="bot"] {
  align-self: flex-start;
}

.content {
  margin: 0;
}
