# Read our documentation on how to configure these features
# https://docs.appsmith.com/v/v1.2.1/setup/docker#enabling-services-for-self-hosting

# ***** Email **********
APPSMITH_MAIL_ENABLED={{ mail_enabled }}
APPSMITH_MAIL_FROM={{ mail_from }}
APPSMITH_REPLY_TO= {{ mail_to }}
APPSMITH_MAIL_HOST= {{ mail_host }}
APPSMITH_MAIL_PORT= {{ mail_port }}
# ***** Set to true if providing a TLS port ******
APPSMITH_MAIL_SMTP_TLS_ENABLED={{ mail_ssl_enabled}}
APPSMITH_MAIL_USERNAME= {{ mail_username }}
APPSMITH_MAIL_PASSWORD= {{ mail_password }}
APPSMITH_MAIL_SMTP_AUTH= {{ mail_auth }}
# ******************************

# ******** Google OAuth ********

{% if not google_client_id or not google_secret_id %} 
#APPSMITH_OAUTH2_GOOGLE_CLIENT_ID=
#APPSMITH_OAUTH2_GOOGLE_CLIENT_SECRET=
{% else %}
APPSMITH_OAUTH2_GOOGLE_CLIENT_ID={{ google_client_id }}
APPSMITH_OAUTH2_GOOGLE_CLIENT_SECRET={{ google_secret_id }}
{% endif %}
# ******************************

# ********* Github OAUth **********
{% if not google_client_id or not google_secret_id %} 
#APPSMITH_OAUTH2_GITHUB_CLIENT_ID=
#APPSMITH_OAUTH2_GITHUB_CLIENT_SECRET=
{% else %}
APPSMITH_OAUTH2_GITHUB_CLIENT_ID={{ github_client_id }}
APPSMITH_OAUTH2_GITHUB_CLIENT_SECRET={{ github_client_secret }}
{% endif %}
# *********************************

# ******** Google Maps ***********
APPSMITH_GOOGLE_MAPS_API_KEY= {{ google_maps_api_key}}
# ********************************

# ******** Database *************
APPSMITH_REDIS_URL=redis://redis:6379
APPSMITH_MONGODB_URI=mongodb://{{ mongo_root_user }}:{{ mongo_root_password }}@{{ mongo_host }}/{{ mongo_database }}?retryWrites=true
# *******************************

APPSMITH_DISABLE_TELEMETRY={{ disable_telemetry }}

# ******** Google Recaptcha Keys ***********
APPSMITH_RECAPTCHA_SITE_KEY= {{ google_recaptcha_site_key }}
APPSMITH_RECAPTCHA_SECRET_KEY= {{ google_recaptcha_secrete_key }}
APPSMITH_RECAPTCHA_ENABLED= {{ google_recaptcha_enabled }}
# ********************************

# ******** Intercom **************
APPSMITH_DISABLE_INTERCOM= {{ disable_intercom }}
# ********************************
