@import "../../../shared/colors/colors.module.css";

.text {
  /* using auto instead of 100% so that text does not push everything to the edge when the parent is flex layout ( this happens in case of switch ) */
  width: auto;
  color: inherit;

  @each $color in colors {
    &[data-color="$(color)"] {
      color: var(--color-fg-$(color));
    }
  }

  /* Adding as special case as we can't add neutral-subtle to $colors variable, as that variable is used generically for many components ( button ). */
  &[data-color="neutral-subtle"] {
    color: var(--color-fg-neutral-subtle);
  }

  &[data-variant="heading"][data-weight="700"] {
    letter-spacing: 0.06em;
  }

  &:is([data-variant="title"], [data-variant="subtitle"])[data-weight="600"] {
    letter-spacing: 0.04em;
  }

  &:is(
      [data-variant="body"],
      [data-variant="caption"],
      [data-variant="footnote"]
    )[data-weight="500"] {
    letter-spacing: 0.02em;
  }
}

.clampedText {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
