:root {
  --modal-overlay-color: rgba(245, 222, 245, 0.9);
  --modal-overlay-content-color: #ffe5fe;
  --modal-overlay-content-outline: 1px dashed #ce01d3;
  --modal-overlay-content-text-color: #2a002b;
  --empty-modal-drop-arena-active-bg: #ffe5fe;
  --empty-modal-drop-arena-bg: #e6efff;
  --empty-modal-drop-arena-outline-color: #3075ff;
  --empty-modal-drop-arena-outline-active-color: #ce01d3;
  --empty-modal-drop-arena-text-color: #001040;
  --space-distribution-handle-active-bg: #0045c6;
  --space-distribution-handle-bg: #3075ff;
}

.detached-widgets-drop-overlay {
  background-color: var(--modal-overlay-color);
}

.detached-widgets-drop-overlay-content {
  background-color: var(--modal-overlay-content-color) !important;
  outline: var(--modal-overlay-content-outline) !important;
  outline-offset: 3px;
  box-shadow: unset !important;
  border-radius: 4px !important;
  width: 100%;
  aspect-ratio: 1/1;
}
.detached-widgets-drop-overlay-content > div {
  display: flex;
  flex: fit-content;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 510;
  line-height: 19.6px;
  color: var(--modal-overlay-content-text-color);
}
