.root {
  width: 100%;
  border-radius: var(--border-radius-elevation-1);
  border: 1px solid var(--color-bd-elevation-1);
}

.header {
  /* display: flex; */
  padding: 22px 40px;
  justify-content: space-between;
  align-items: center;
}

.thread {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-self: stretch;
  padding: 0px var(--inner-spacing-5) var(--inner-spacing-5)
    var(--inner-spacing-5);
}

.promptForm {
  display: flex;
  align-items: flex-start;
  margin: var(--outer-spacing-4) 0 0 0;
  gap: var(--outer-spacing-3);
}
