.tooltip {
  background-color: var(--color-bg-assistive);
  color: var(--color-fg-on-assistive);
  padding: var(--inner-spacing-2) var(--inner-spacing-3);
  border-radius: var(--border-radius-elevation-3);
  z-index: var(--z-index-99);

  & [data-tooltip-trigger-arrow] {
    background-color: var(--color-bg-assistive);
    width: 8px;
    height: 8px;
    position: absolute;
    margin: auto;
  }

  &[data-placement^="top"] [data-tooltip-trigger-arrow] {
    bottom: -4px;
    transform: rotate(45deg);
    left: 0;
    right: 0;
  }

  &[data-placement^="bottom"] [data-tooltip-trigger-arrow] {
    top: -4px;
    transform: rotate(225deg);
    left: 0;
    right: 0;
  }

  &[data-placement^="left"] [data-tooltip-trigger-arrow] {
    right: -4px;
    transform: rotate(135deg);
    top: 0;
    bottom: 0;
  }

  &[data-placement^="right"] [data-tooltip-trigger-arrow] {
    left: -4px;
    transform: rotate(315deg);
    top: 0;
    bottom: 0;
  }
}
