.editor {
}

.editorHeader {
  border-bottom: 1px solid var(--ads-v2-color-gray-300);
  height: 39px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  border-top: 1px solid var(--ads-v2-color-gray-300);
}

.editorHeaderTitle {
}

.editorBody {
}
