/**
 * ----------------------------------------------------------------------------
 * BASE
 *-----------------------------------------------------------------------------
 */

.input {
  border: 0px;
  inset: 0 0 0 0;
  height: 100%;
  width: 100%;
  padding: 0px;
  opacity: 0;
  white-space: nowrap;
  position: absolute;
  cursor: pointer;
}


/*  */
.icon {
  width: 20px;
  height: 20px;
  border-width: 1px;
  border-style: solid;
  border-image: initial;
  border-radius: var(--wds-v2-radii);
  border-color: var(--wds-color-border);
  color: transparent;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  vertical-align: top;
  user-select: none;
  flex-shrink: 0;
}

.container:hover .input:not(:disabled) + .icon {
  border-color: var(--wds-color-border-hover);
}

/**
 * ----------------------------------------------------------------------------
 * CHECKED  AND INDETERMINATE - BUT NOT DISABLED
 *-----------------------------------------------------------------------------
 */
.input:checked:not(:disabled) + .icon,
.input:indeterminate:not(:disabled) + .icon {
  background-color: var(--wds-color-accent);
  border-color: var(--wds-color-accent);
  color: theme('colors.white');
}

.container:hover .input:checked:not(:disabled) + .icon,
.container:hover .input:indeterminate:not(:disabled) + .icon {
  border-color: var(--wds-color-accent-hover);
  background-color: var(--wds-color-accent-hover);
  color: theme('colors.white');
}

/**
 * ----------------------------------------------------------------------------
 * DISABLED
 *-----------------------------------------------------------------------------
 */
.input:disabled {
  cursor: not-allowed;
}

.input:disabled + .icon {
  background-color: var(--wds-color-bg-disabled);
  border-color: var(--wds-color-border-disabled);
}

.input:checked:disabled + .icon,
.input:indeterminate:disabled + .icon {
  color: var(--wds-color-bg-disabled-strong);
}

/**
 * ----------------------------------------------------------------------------
 * ERROR ( INVALID )
 *-----------------------------------------------------------------------------
 */

.input:invalid + .icon {
  border-color: var(--wds-color-border-danger);
}

.container:hover .input:invalid + .icon {
  border-color: var(--wds-color-border-danger-hover);
}

/**
 * ----------------------------------------------------------------------------
 * FOCUSED
 *-----------------------------------------------------------------------------
 */
.input[data-focus-visible-added] + .icon {
  outline: 1px solid var(--wds-color-border-focus);
  outline-offset: 2px;
}



/**
 * ----------------------------------------------------------------------------
 * CHECKBOX GROUP
 *-----------------------------------------------------------------------------
 */
 .inputs-group {
  display: flex;
  gap: theme('spacing.2');
 }

 .inputs-group.horizontal {
  flex-direction: row;
 }

 .inputs-group.vertical {
  flex-direction: column;
 }
