//THIS FILE IS CREATED AUTOMATICALLY. PLEASE DON'T EDIT IT.
:root {
  --root-unit: clamp(4px, calc(0.06vw + 3.77px), 5px);
}
:root {
  --spacing-0: 0;
  --spacing-1: clamp(4px, calc(0.13vw + 3.54px), 6px);
  --spacing-2: clamp(5.04px, calc(0.23vw + 4.21px), 8.65px);
  --spacing-3: clamp(6.35px, calc(0.39vw + 4.93px), 12.48px);
  --spacing-4: clamp(8px, calc(0.64vw + 5.69px), 18px);
  --spacing-5: clamp(10.08px, calc(1.02vw + 6.41px), 25.96px);
  --spacing-6: clamp(12.7px, calc(1.59vw + 6.99px), 37.44px);
  --spacing-7: clamp(16px, calc(2.44vw + 7.23px), 54px);
  --spacing-8: clamp(20.16px, calc(3.7vw + 6.84px), 77.88px);
}
:root {
  --sizing-0: 0;
  --sizing-1: calc(1 * var(--root-unit));
  --sizing-2: calc(2 * var(--root-unit));
  --sizing-3: calc(3 * var(--root-unit));
  --sizing-4: calc(4 * var(--root-unit));
  --sizing-5: calc(5 * var(--root-unit));
  --sizing-6: calc(6 * var(--root-unit));
  --sizing-7: calc(7 * var(--root-unit));
  --sizing-8: calc(8 * var(--root-unit));
  --sizing-9: calc(9 * var(--root-unit));
  --sizing-10: calc(10 * var(--root-unit));
  --sizing-11: calc(11 * var(--root-unit));
  --sizing-12: calc(12 * var(--root-unit));
  --sizing-13: calc(13 * var(--root-unit));
  --sizing-14: calc(14 * var(--root-unit));
  --sizing-15: calc(15 * var(--root-unit));
  --sizing-16: calc(16 * var(--root-unit));
  --sizing-17: calc(17 * var(--root-unit));
  --sizing-18: calc(18 * var(--root-unit));
  --sizing-19: calc(19 * var(--root-unit));
  --sizing-20: calc(20 * var(--root-unit));
  --sizing-21: calc(21 * var(--root-unit));
  --sizing-22: calc(22 * var(--root-unit));
  --sizing-23: calc(23 * var(--root-unit));
  --sizing-24: calc(24 * var(--root-unit));
  --sizing-25: calc(25 * var(--root-unit));
  --sizing-26: calc(26 * var(--root-unit));
  --sizing-27: calc(27 * var(--root-unit));
  --sizing-28: calc(28 * var(--root-unit));
  --sizing-29: calc(29 * var(--root-unit));
  --sizing-30: calc(30 * var(--root-unit));
  --sizing-31: calc(31 * var(--root-unit));
  --sizing-32: calc(32 * var(--root-unit));
  --sizing-33: calc(33 * var(--root-unit));
  --sizing-34: calc(34 * var(--root-unit));
  --sizing-35: calc(35 * var(--root-unit));
  --sizing-36: calc(36 * var(--root-unit));
  --sizing-37: calc(37 * var(--root-unit));
  --sizing-38: calc(38 * var(--root-unit));
  --sizing-39: calc(39 * var(--root-unit));
  --sizing-40: calc(40 * var(--root-unit));
  --sizing-41: calc(41 * var(--root-unit));
  --sizing-42: calc(42 * var(--root-unit));
  --sizing-43: calc(43 * var(--root-unit));
  --sizing-44: calc(44 * var(--root-unit));
  --sizing-45: calc(45 * var(--root-unit));
  --sizing-46: calc(46 * var(--root-unit));
  --sizing-47: calc(47 * var(--root-unit));
  --sizing-48: calc(48 * var(--root-unit));
  --sizing-49: calc(49 * var(--root-unit));
  --sizing-50: calc(50 * var(--root-unit));
  --sizing-51: calc(51 * var(--root-unit));
  --sizing-52: calc(52 * var(--root-unit));
  --sizing-53: calc(53 * var(--root-unit));
  --sizing-54: calc(54 * var(--root-unit));
  --sizing-55: calc(55 * var(--root-unit));
  --sizing-56: calc(56 * var(--root-unit));
  --sizing-57: calc(57 * var(--root-unit));
  --sizing-58: calc(58 * var(--root-unit));
  --sizing-59: calc(59 * var(--root-unit));
  --sizing-60: calc(60 * var(--root-unit));
  --sizing-61: calc(61 * var(--root-unit));
  --sizing-62: calc(62 * var(--root-unit));
  --sizing-63: calc(63 * var(--root-unit));
  --sizing-64: calc(64 * var(--root-unit));
  --sizing-65: calc(65 * var(--root-unit));
  --sizing-66: calc(66 * var(--root-unit));
  --sizing-67: calc(67 * var(--root-unit));
  --sizing-68: calc(68 * var(--root-unit));
  --sizing-69: calc(69 * var(--root-unit));
  --sizing-70: calc(70 * var(--root-unit));
  --sizing-71: calc(71 * var(--root-unit));
  --sizing-72: calc(72 * var(--root-unit));
  --sizing-73: calc(73 * var(--root-unit));
  --sizing-74: calc(74 * var(--root-unit));
  --sizing-75: calc(75 * var(--root-unit));
  --sizing-76: calc(76 * var(--root-unit));
  --sizing-77: calc(77 * var(--root-unit));
  --sizing-78: calc(78 * var(--root-unit));
  --sizing-79: calc(79 * var(--root-unit));
  --sizing-80: calc(80 * var(--root-unit));
  --sizing-81: calc(81 * var(--root-unit));
  --sizing-82: calc(82 * var(--root-unit));
  --sizing-83: calc(83 * var(--root-unit));
  --sizing-84: calc(84 * var(--root-unit));
  --sizing-85: calc(85 * var(--root-unit));
  --sizing-86: calc(86 * var(--root-unit));
  --sizing-87: calc(87 * var(--root-unit));
  --sizing-88: calc(88 * var(--root-unit));
  --sizing-89: calc(89 * var(--root-unit));
  --sizing-90: calc(90 * var(--root-unit));
  --sizing-91: calc(91 * var(--root-unit));
  --sizing-92: calc(92 * var(--root-unit));
  --sizing-93: calc(93 * var(--root-unit));
  --sizing-94: calc(94 * var(--root-unit));
  --sizing-95: calc(95 * var(--root-unit));
  --sizing-96: calc(96 * var(--root-unit));
  --sizing-97: calc(97 * var(--root-unit));
  --sizing-98: calc(98 * var(--root-unit));
  --sizing-99: calc(99 * var(--root-unit));
  --sizing-100: calc(100 * var(--root-unit));
}
:root {
  --color-bg: rgb(97.488% 97.871% 100%);
  --color-bg-accent: rgb(33.333% 23.922% 91.373%);
  --color-bg-accent-hover: rgb(38.033% 31.188% 98.353%);
  --color-bg-accent-active: rgb(31.537% 20.805% 88.597%);
  --color-bg-accent-subtle-hover: rgb(91.308% 92.034% 100%);
  --color-bg-accent-subtle-active: rgb(86.728% 87.915% 100%);
  --color-bg-assistive: rgb(3.6713% 2.414% 16.412%);
  --color-bg-neutral: rgb(27.359% 28.199% 35.2%);
  --color-bg-neutral-hover: rgb(32.654% 33.544% 40.754%);
  --color-bg-neutral-active: rgb(26.32% 27.149% 34.105%);
  --color-bg-neutral-subtle-hover: rgb(92.856% 93.277% 96.189%);
  --color-bg-neutral-subtle-active: rgb(88.971% 89.388% 92.276%);
  --color-bg-positive: rgb(6.7435% 63.436% 18.481%);
  --color-bg-positive-hover: rgb(18.172% 69.721% 25.266%);
  --color-bg-positive-active: rgb(0% 60.947% 15.563%);
  --color-bg-positive-subtle-hover: rgb(84.848% 100% 84.841%);
  --color-bg-positive-subtle-active: rgb(80.049% 98.746% 80.116%);
  --color-bg-negative: rgb(83.108% 4.6651% 10.252%);
  --color-bg-negative-hover: rgb(90.296% 17.3% 17.376%);
  --color-bg-negative-active: rgb(80.244% 0% 6.8069%);
  --color-bg-negative-subtle-hover: rgb(100% 93.667% 92.497%);
  --color-bg-negative-subtle-active: rgb(100% 88.348% 86.422%);
  --color-bg-warning: rgb(85.145% 64.66% 8.0286%);
  --color-bg-warning-hover: rgb(89.037% 68.413% 15.627%);
  --color-bg-warning-active: rgb(83.854% 63.416% 4.0505%);
  --color-bg-warning-subtle-hover: rgb(100% 97.012% 87.859%);
  --color-bg-warning-subtle-active: rgb(99.63% 92.81% 78.869%);
  --color-fg: rgb(1.6475% 1.7126% 6.8084%);
  --color-fg-accent: rgb(33.333% 23.922% 91.373%);
  --color-fg-neutral: rgb(37.193% 38.537% 50.855%);
  --color-fg-positive: rgb(6.7435% 63.436% 18.481%);
  --color-fg-negative: rgb(100% 0% 28.453%);
  --color-fg-warning: rgb(71.79% 51.231% 0%);
  --color-fg-on-accent: rgb(91.588% 90.378% 100%);
  --color-fg-on-assistive: rgb(94.469% 95.075% 100%);
  --color-fg-on-neutral: rgb(93.156% 94.218% 100%);
  --color-fg-on-positive: rgb(89.702% 100% 89.053%);
  --color-fg-on-negative: rgb(100% 87.612% 85.249%);
  --color-fg-on-warning: rgb(21.953% 9.0775% 0%);
  --color-bd-accent: rgb(33.333% 23.922% 91.373%);
  --color-bd-focus: rgb(78.161% 34.431% 0%);
  --color-bd-neutral: rgb(37.869% 38.922% 47.553%);
  --color-bd-neutral-hover: rgb(49.162% 50.308% 59.345%);
  --color-bd-positive: rgb(6.7435% 63.436% 18.481%);
  --color-bd-positive-hover: rgb(26.362% 76.094% 31.718%);
  --color-bd-negative: rgb(83.108% 4.6651% 10.252%);
  --color-bd-negative-hover: rgb(97.525% 25.712% 23.78%);
  --color-bd-warning: rgb(85.145% 64.66% 8.0286%);
  --color-bd-warning-hover: rgb(98.232% 77.293% 27.893%);
  --color-bd-on-accent: rgb(0% 0% 0%);
  --color-bd-on-neutral: rgb(0.1663% 0.0515% 1.6668%);
  --color-bd-on-positive: rgb(0% 22.552% 3.6201%);
  --color-bd-on-negative: rgb(21.923% 0% 2.8118%);
  --color-bd-on-warning: rgb(39.972% 27.552% 0%);
}
:root {
  --border-radius-1: 0px;
}
:root {
  --box-shadow-1: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
:root {
  --border-width-1: 1px;
  --border-width-2: 2px;
}
:root {
  --opacity-disabled: 0.3;
}
:root {
  --z-index-1: 3;
  --z-index-2: 4;
  --z-index-3: 10;
  --z-index-99: 9999;
}
