/* THIS FILE IS CREATED AUTOMATICALLY. PLEASE DON'T EDIT IT. */
:root {
  --spacing-0: 0;
  --spacing-1: clamp(4px, calc(0.13vw + 3.54px), 6px);
  --spacing-2: clamp(5.04px, calc(0.23vw + 4.21px), 8.65px);
  --spacing-3: clamp(6.35px, calc(0.39vw + 4.93px), 12.48px);
  --spacing-4: clamp(8px, calc(0.64vw + 5.69px), 18px);
  --spacing-5: clamp(10.08px, calc(1.02vw + 6.41px), 25.96px);
  --spacing-6: clamp(12.7px, calc(1.59vw + 6.99px), 37.44px);
  --spacing-7: clamp(16px, calc(2.44vw + 7.23px), 54px);
  --spacing-8: clamp(20.16px, calc(3.7vw + 6.84px), 77.88px);
  --inner-spacing-0: 0;
  --inner-spacing-1: clamp(3px, calc(0.06vw + 2.77px), 4px);
  --inner-spacing-2: clamp(3.78px, calc(0.13vw + 3.32px), 5.77px);
  --inner-spacing-3: clamp(4.76px, calc(0.23vw + 3.94px), 8.32px);
  --inner-spacing-4: clamp(6px, calc(0.38vw + 4.62px), 12px);
  --inner-spacing-5: clamp(7.56px, calc(0.62vw + 5.31px), 17.31px);
  --inner-spacing-6: clamp(9.52px, calc(0.99vw + 5.96px), 24.96px);
  --inner-spacing-7: clamp(12px, calc(1.54vw + 6.46px), 36px);
  --inner-spacing-8: clamp(15.12px, calc(2.36vw + 6.63px), 51.92px);
  --sizing-0: 0;
  --sizing-1: calc(1 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-2: calc(2 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-3: calc(3 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-4: calc(4 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-5: calc(5 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-6: calc(6 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-7: calc(7 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-8: calc(8 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-9: calc(9 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-10: calc(10 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-11: calc(11 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-12: calc(12 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-13: calc(13 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-14: calc(14 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-15: calc(15 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-16: calc(16 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-17: calc(17 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-18: calc(18 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-19: calc(19 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-20: calc(20 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-21: calc(21 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-22: calc(22 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-23: calc(23 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-24: calc(24 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-25: calc(25 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-26: calc(26 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-27: calc(27 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-28: calc(28 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-29: calc(29 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-30: calc(30 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-31: calc(31 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-32: calc(32 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-33: calc(33 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-34: calc(34 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-35: calc(35 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-36: calc(36 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-37: calc(37 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-38: calc(38 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-39: calc(39 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-40: calc(40 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-41: calc(41 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-42: calc(42 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-43: calc(43 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-44: calc(44 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-45: calc(45 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-46: calc(46 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-47: calc(47 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-48: calc(48 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-49: calc(49 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-50: calc(50 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-51: calc(51 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-52: calc(52 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-53: calc(53 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-54: calc(54 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-55: calc(55 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-56: calc(56 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-57: calc(57 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-58: calc(58 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-59: calc(59 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-60: calc(60 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-61: calc(61 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-62: calc(62 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-63: calc(63 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-64: calc(64 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-65: calc(65 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-66: calc(66 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-67: calc(67 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-68: calc(68 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-69: calc(69 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-70: calc(70 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-71: calc(71 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-72: calc(72 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-73: calc(73 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-74: calc(74 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-75: calc(75 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-76: calc(76 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-77: calc(77 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-78: calc(78 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-79: calc(79 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-80: calc(80 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-81: calc(81 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-82: calc(82 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-83: calc(83 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-84: calc(84 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-85: calc(85 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-86: calc(86 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-87: calc(87 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-88: calc(88 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-89: calc(89 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-90: calc(90 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-91: calc(91 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-92: calc(92 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-93: calc(93 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-94: calc(94 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-95: calc(95 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-96: calc(96 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-97: calc(97 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-98: calc(98 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-99: calc(99 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --sizing-100: calc(100 * clamp(4px, calc(0.06vw + 3.77px), 5px));
  --color-bg: rgb(97.488% 97.871% 100%);
  --color-bg-accent: rgb(33.333% 23.922% 91.373%);
  --color-bg-accent-hover: rgb(38.033% 31.188% 98.353%);
  --color-bg-accent-active: rgb(31.537% 20.805% 88.597%);
  --color-bg-accent-subtle: rgb(88.264% 89.286% 100%);
  --color-bg-accent-subtle-hover: rgb(91.308% 92.034% 100%);
  --color-bg-accent-subtle-active: rgb(86.728% 87.915% 100%);
  --color-bg-assistive: rgb(3.6713% 2.414% 16.412%);
  --color-bg-neutral: rgb(27.359% 28.199% 35.2%);
  --color-bg-neutral-hover: rgb(32.654% 33.544% 40.754%);
  --color-bg-neutral-active: rgb(26.32% 27.149% 34.105%);
  --color-bg-neutral-subtle: rgb(90.262% 90.681% 93.577%);
  --color-bg-neutral-subtle-hover: rgb(92.856% 93.277% 96.189%);
  --color-bg-neutral-subtle-active: rgb(88.971% 89.388% 92.276%);
  --color-bg-positive: rgb(6.7435% 63.436% 18.481%);
  --color-bg-positive-hover: rgb(18.172% 69.721% 25.266%);
  --color-bg-positive-active: rgb(0% 60.947% 15.563%);
  --color-bg-positive-subtle: rgb(81.329% 100% 81.391%);
  --color-bg-positive-subtle-hover: rgb(84.848% 100% 84.841%);
  --color-bg-positive-subtle-active: rgb(80.049% 98.746% 80.116%);
  --color-bg-negative: rgb(83.108% 4.6651% 10.252%);
  --color-bg-negative-hover: rgb(90.296% 17.3% 17.376%);
  --color-bg-negative-active: rgb(80.244% 0% 6.8069%);
  --color-bg-negative-subtle: rgb(80.244% 0% 6.8069%);
  --color-bg-negative-subtle-hover: rgb(100% 93.667% 92.497%);
  --color-bg-negative-subtle-active: rgb(100% 88.348% 86.422%);
  --color-bg-warning: rgb(85.145% 64.66% 8.0286%);
  --color-bg-warning-hover: rgb(89.037% 68.413% 15.627%);
  --color-bg-warning-active: rgb(83.854% 63.416% 4.0505%);
  --color-bg-warning-subtle: rgb(100% 94.114% 80.142%);
  --color-bg-warning-subtle-hover: rgb(100% 97.012% 87.859%);
  --color-bg-warning-subtle-active: rgb(99.63% 92.81% 78.869%);
  --color-fg: rgb(1.6475% 1.7126% 6.8084%);
  --color-fg-accent: rgb(33.333% 23.922% 91.373%);
  --color-fg-neutral: rgb(37.193% 38.537% 50.855%);
  --color-fg-neutral-subtle: rgb(48.439% 49.938% 62.827%);
  --color-fg-positive: rgb(6.7435% 63.436% 18.481%);
  --color-fg-negative: rgb(100% 0% 28.453%);
  --color-fg-warning: rgb(71.79% 51.231% 0%);
  --color-fg-on-accent: rgb(91.588% 90.378% 100%);
  --color-fg-on-accent-subtle: rgb(1.6475% 1.7126% 6.8084%);
  --color-fg-on-assistive: rgb(94.469% 95.075% 100%);
  --color-fg-on-neutral: rgb(93.156% 94.218% 100%);
  --color-fg-on-positive: rgb(89.702% 100% 89.053%);
  --color-fg-on-negative: rgb(100% 87.612% 85.249%);
  --color-fg-on-warning: rgb(21.953% 9.0775% 0%);
  --color-bd: rgb(72.54% 73.727% 82.602%);
  --color-bd-accent: rgb(33.333% 23.922% 91.373%);
  --color-bd-focus: rgb(33.333% 23.922% 91.373%);
  --color-bd-neutral: rgb(37.869% 38.922% 47.553%);
  --color-bd-neutral-hover: rgb(49.162% 50.308% 59.345%);
  --color-bd-positive: rgb(6.7435% 63.436% 18.481%);
  --color-bd-positive-hover: rgb(26.362% 76.094% 31.718%);
  --color-bd-negative: rgb(83.108% 4.6651% 10.252%);
  --color-bd-negative-hover: rgb(97.525% 25.712% 23.78%);
  --color-bd-warning: rgb(85.145% 64.66% 8.0286%);
  --color-bd-warning-hover: rgb(98.232% 77.293% 27.893%);
  --color-bd-on-accent: rgb(0% 0% 0%);
  --color-bd-on-neutral: rgb(0.1663% 0.0515% 1.6668%);
  --color-bd-on-positive: rgb(0% 22.552% 3.6201%);
  --color-bd-on-negative: rgb(21.923% 0% 2.8118%);
  --color-bd-on-warning: rgb(39.972% 27.552% 0%);
  --border-radius-1: 0px;
  --box-shadow-1: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  --border-width-1: 1px;
  --border-width-2: 2px;
  --opacity-disabled: 0.3;
  --z-index-1: 3;
  --z-index-2: 4;
  --z-index-3: 10;
  --z-index-99: 9999;
}
