/* THIS FILE IS CREATED AUTOMATICALLY. PLEASE DON'T EDIT IT. */
:root {
  --outer-spacing-0: 0;
  --outer-spacing-1: 4px;
  --outer-spacing-2: 6px;
  --outer-spacing-3: 8.9px;
  --outer-spacing-4: 13.2px;
  --outer-spacing-5: 19.6px;
  --outer-spacing-6: 29.2px;
  --outer-spacing-7: 43.3px;
  --outer-spacing-8: 64.4px;
  --inner-spacing-0: 0;
  --inner-spacing-1: 4.2px;
  --inner-spacing-2: 6.3px;
  --inner-spacing-3: 9.4px;
  --inner-spacing-4: 14.2px;
  --inner-spacing-5: 21.3px;
  --inner-spacing-6: 31.9px;
  --inner-spacing-7: 47.8px;
  --inner-spacing-8: 71.8px;
  --sizing-0: 0;
  --sizing-1: 3.4px;
  --sizing-2: 6.8px;
  --sizing-3: 10.2px;
  --sizing-4: 13.6px;
  --sizing-5: 17px;
  --sizing-6: 20.4px;
  --sizing-7: 23.8px;
  --sizing-8: 27.2px;
  --sizing-9: 30.6px;
  --sizing-10: 34px;
  --sizing-11: 37.4px;
  --sizing-12: 40.8px;
  --sizing-13: 44.2px;
  --sizing-14: 47.6px;
  --sizing-15: 51px;
  --sizing-16: 54.4px;
  --sizing-17: 57.8px;
  --sizing-18: 61.2px;
  --sizing-19: 64.6px;
  --sizing-20: 68px;
  --sizing-21: 71.4px;
  --sizing-22: 74.8px;
  --sizing-23: 78.2px;
  --sizing-24: 81.6px;
  --sizing-25: 85px;
  --sizing-26: 88.4px;
  --sizing-27: 91.8px;
  --sizing-28: 95.2px;
  --sizing-29: 98.6px;
  --sizing-30: 102px;
  --sizing-31: 105.4px;
  --sizing-32: 108.8px;
  --sizing-33: 112.2px;
  --sizing-34: 115.6px;
  --sizing-35: 119px;
  --sizing-36: 122.4px;
  --sizing-37: 125.8px;
  --sizing-38: 129.2px;
  --sizing-39: 132.6px;
  --sizing-40: 136px;
  --sizing-41: 139.4px;
  --sizing-42: 142.8px;
  --sizing-43: 146.2px;
  --sizing-44: 149.6px;
  --sizing-45: 153px;
  --sizing-46: 156.4px;
  --sizing-47: 159.8px;
  --sizing-48: 163.2px;
  --sizing-49: 166.6px;
  --sizing-50: 170px;
  --sizing-51: 173.4px;
  --sizing-52: 176.8px;
  --sizing-53: 180.2px;
  --sizing-54: 183.6px;
  --sizing-55: 187px;
  --sizing-56: 190.4px;
  --sizing-57: 193.8px;
  --sizing-58: 197.2px;
  --sizing-59: 200.6px;
  --sizing-60: 204px;
  --sizing-61: 207.4px;
  --sizing-62: 210.8px;
  --sizing-63: 214.2px;
  --sizing-64: 217.6px;
  --sizing-65: 221px;
  --sizing-66: 224.4px;
  --sizing-67: 227.8px;
  --sizing-68: 231.2px;
  --sizing-69: 234.6px;
  --sizing-70: 238px;
  --sizing-71: 241.4px;
  --sizing-72: 244.8px;
  --sizing-73: 248.2px;
  --sizing-74: 251.6px;
  --sizing-75: 255px;
  --sizing-76: 258.4px;
  --sizing-77: 261.8px;
  --sizing-78: 265.2px;
  --sizing-79: 268.6px;
  --sizing-80: 272px;
  --sizing-81: 275.4px;
  --sizing-82: 278.8px;
  --sizing-83: 282.2px;
  --sizing-84: 285.6px;
  --sizing-85: 289px;
  --sizing-86: 292.4px;
  --sizing-87: 295.8px;
  --sizing-88: 299.2px;
  --sizing-89: 302.6px;
  --sizing-90: 306px;
  --sizing-91: 309.4px;
  --sizing-92: 312.8px;
  --sizing-93: 316.2px;
  --sizing-94: 319.6px;
  --sizing-95: 323px;
  --sizing-96: 326.4px;
  --sizing-97: 329.8px;
  --sizing-98: 333.2px;
  --sizing-99: 336.6px;
  --sizing-100: 340px;
  --sizing-101: 343.4px;
  --sizing-102: 346.8px;
  --sizing-103: 350.2px;
  --sizing-104: 353.6px;
  --sizing-105: 357px;
  --sizing-106: 360.4px;
  --sizing-107: 363.8px;
  --sizing-108: 367.2px;
  --sizing-109: 370.6px;
  --sizing-110: 374px;
  --sizing-111: 377.4px;
  --sizing-112: 380.8px;
  --sizing-113: 384.2px;
  --sizing-114: 387.6px;
  --sizing-115: 391px;
  --sizing-116: 394.4px;
  --sizing-117: 397.8px;
  --sizing-118: 401.2px;
  --sizing-119: 404.6px;
  --sizing-120: 408px;
  --sizing-121: 411.4px;
  --sizing-122: 414.8px;
  --sizing-123: 418.2px;
  --sizing-124: 421.6px;
  --sizing-125: 425px;
  --sizing-126: 428.4px;
  --sizing-127: 431.8px;
  --sizing-128: 435.2px;
  --sizing-129: 438.6px;
  --sizing-130: 442px;
  --sizing-131: 445.4px;
  --sizing-132: 448.8px;
  --sizing-133: 452.2px;
  --sizing-134: 455.6px;
  --sizing-135: 459px;
  --sizing-136: 462.4px;
  --sizing-137: 465.8px;
  --sizing-138: 469.2px;
  --sizing-139: 472.6px;
  --sizing-140: 476px;
  --sizing-141: 479.4px;
  --sizing-142: 482.8px;
  --sizing-143: 486.2px;
  --sizing-144: 489.6px;
  --sizing-145: 493px;
  --sizing-146: 496.4px;
  --sizing-147: 499.8px;
  --sizing-148: 503.2px;
  --sizing-149: 506.6px;
  --sizing-150: 510px;
  --sizing-151: 513.4px;
  --sizing-152: 516.8px;
  --sizing-153: 520.2px;
  --sizing-154: 523.6px;
  --sizing-155: 527px;
  --sizing-156: 530.4px;
  --sizing-157: 533.8px;
  --sizing-158: 537.2px;
  --sizing-159: 540.6px;
  --sizing-160: 544px;
  --sizing-161: 547.4px;
  --sizing-162: 550.8px;
  --sizing-163: 554.2px;
  --sizing-164: 557.6px;
  --sizing-165: 561px;
  --sizing-166: 564.4px;
  --sizing-167: 567.8px;
  --sizing-168: 571.2px;
  --sizing-169: 574.6px;
  --sizing-170: 578px;
  --sizing-171: 581.4px;
  --sizing-172: 584.8px;
  --sizing-173: 588.2px;
  --sizing-174: 591.6px;
  --sizing-175: 595px;
  --sizing-176: 598.4px;
  --sizing-177: 601.8px;
  --sizing-178: 605.2px;
  --sizing-179: 608.6px;
  --sizing-180: 612px;
  --sizing-181: 615.4px;
  --sizing-182: 618.8px;
  --sizing-183: 622.2px;
  --sizing-184: 625.6px;
  --sizing-185: 629px;
  --sizing-186: 632.4px;
  --sizing-187: 635.8px;
  --sizing-188: 639.2px;
  --sizing-189: 642.6px;
  --sizing-190: 646px;
  --sizing-191: 649.4px;
  --sizing-192: 652.8px;
  --sizing-193: 656.2px;
  --sizing-194: 659.6px;
  --sizing-195: 663px;
  --sizing-196: 666.4px;
  --sizing-197: 669.8px;
  --sizing-198: 673.2px;
  --sizing-199: 676.6px;
  --sizing-200: 680px;
  --color-bg: rgb(95.735% 96.105% 96.612%);
  --color-bg-accent: rgb(0% 50.196% 100%);
  --color-bg-accent-hover: rgb(16.706% 56.866% 100%);
  --color-bg-accent-active: rgb(0% 47.644% 97.234%);
  --color-bg-accent-subtle: rgb(81.727% 91.842% 100%);
  --color-bg-accent-subtle-hover: rgb(85.976% 94.312% 100%);
  --color-bg-accent-subtle-active: rgb(79.582% 90.604% 100%);
  --color-bg-assistive: rgb(0% 4.2493% 16.493%);
  --color-bg-neutral: rgb(14.34% 14.608% 14.974%);
  --color-bg-neutral-opacity: rgb(4.1441% 4.3763% 4.6935% / 0.6);
  --color-bg-neutral-hover: rgb(21.156% 21.44% 21.828%);
  --color-bg-neutral-active: rgb(11.549% 11.809% 12.164%);
  --color-bg-neutral-subtle: rgb(95.735% 96.105% 96.612%);
  --color-bg-neutral-subtle-hover: rgb(97.307% 97.678% 98.187%);
  --color-bg-neutral-subtle-active: rgb(94.428% 94.798% 95.304%);
  --color-bg-positive: rgb(6.7436% 63.436% 18.481%);
  --color-bg-positive-hover: rgb(18.172% 69.721% 25.266%);
  --color-bg-positive-active: rgb(0% 60.947% 15.563%);
  --color-bg-positive-subtle: rgb(81.329% 100% 81.391%);
  --color-bg-positive-subtle-hover: rgb(83.899% 100% 83.95%);
  --color-bg-positive-subtle-active: rgb(80.049% 98.746% 80.116%);
  --color-bg-negative: rgb(83.108% 4.6651% 10.252%);
  --color-bg-negative-hover: rgb(90.296% 17.3% 17.376%);
  --color-bg-negative-active: rgb(80.244% 0% 6.8069%);
  --color-bg-negative-subtle: rgb(100% 89.123% 86.922%);
  --color-bg-negative-subtle-hover: rgb(100% 92.714% 90.956%);
  --color-bg-negative-subtle-active: rgb(100% 87.545% 85.228%);
  --color-bg-warning: rgb(85.145% 64.66% 8.0285%);
  --color-bg-warning-hover: rgb(89.037% 68.413% 15.627%);
  --color-bg-warning-active: rgb(83.854% 63.416% 4.0504%);
  --color-bg-warning-subtle: rgb(100% 94.114% 80.142%);
  --color-bg-warning-subtle-hover: rgb(100% 96.733% 82.696%);
  --color-bg-warning-subtle-active: rgb(99.63% 92.81% 78.869%);
  --color-bg-elevation-1: rgb(98.357% 98.73% 99.239%);
  --color-bg-elevation-2: rgb(100% 100% 100%);
  --color-bg-elevation-3: rgb(100% 100% 100%);
  --color-shadow-elevation-1: rgb(15.421% 18.184% 21.936% / 0.1);
  --color-shadow-elevation-2: rgb(20.315% 23.186% 27.086% / 0.12);
  --color-shadow-elevation-3: rgb(21.317% 24.208% 28.136% / 0.15);
  --color-fg: rgb(1.8308% 2.2815% 2.989%);
  --color-fg-accent: rgb(0% 31.772% 67.873%);
  --color-fg-neutral: rgb(11.988% 12.775% 13.849%);
  --color-fg-neutral-subtle: rgb(48.768% 49.751% 51.095%);
  --color-fg-positive: rgb(6.7436% 63.436% 18.481%);
  --color-fg-negative: rgb(100% 0% 31.57%);
  --color-fg-warning: rgb(76.894% 49.631% 0%);
  --color-fg-on-accent: rgb(92.311% 95.082% 98.864%);
  --color-fg-on-accent-subtle: rgb(1.8308% 2.2815% 2.989%);
  --color-fg-on-assistive: rgb(90.219% 96.774% 100%);
  --color-fg-on-neutral: rgb(94.428% 94.798% 95.304%);
  --color-fg-on-positive: rgb(81.009% 100% 81.169%);
  --color-fg-on-negative: rgb(100% 89.124% 86.925%);
  --color-fg-on-warning: rgb(19.085% 11.601% 0%);
  --color-bd: rgb(73.392% 74.451% 75.899%);
  --color-bd-accent: rgb(0% 50.196% 100%);
  --color-bd-focus: rgb(0% 41.891% 91.024%);
  --color-bd-neutral: rgb(50.521% 52.173% 54.429%);
  --color-bd-neutral-hover: rgb(62.374% 64.09% 66.433%);
  --color-bd-positive: rgb(37.9% 86.464% 41.821%);
  --color-bd-positive-hover: rgb(51.497% 99.713% 54.439%);
  --color-bd-negative: rgb(100% 55.521% 50.654%);
  --color-bd-negative-hover: rgb(100% 72.272% 68.285%);
  --color-bd-warning: rgb(94.272% 73.467% 23.044%);
  --color-bd-warning-hover: rgb(100% 86.971% 47.122%);
  --color-bd-on-accent: rgb(0% 12.715% 44.584%);
  --color-bd-on-neutral: rgb(36.946% 37.257% 37.683%);
  --color-bd-on-neutral-subtle: rgb(91.826% 92.194% 92.697%);
  --color-bd-on-neutral-subtle-hover: rgb(89.884% 90.25% 90.751%);
  --color-bd-on-positive: rgb(0% 22.253% 0%);
  --color-bd-on-negative: rgb(25.15% 0% 0%);
  --color-bd-on-warning: rgb(40.354% 27.735% 0%);
  --color-bd-elevation-1: rgb(85.384% 87.202% 89.685%);
  --color-bd-elevation-2: rgb(89.241% 91.074% 93.578%);
  --color-bd-elevation-3: rgb(91.181% 93.021% 95.535%);
  --border-radius-elevation-1: calc(
    var(--border-radius-elevation-base) + var(--outer-spacing-1) * 2
  );
  --border-radius-elevation-2: calc(
    var(--border-radius-elevation-base) + var(--outer-spacing-1)
  );
  --border-radius-elevation-3: var(--border-radius-elevation-base);
  --border-radius-elevation-base: 0px;
  --box-shadow-1: 0 var(--inner-spacing-2) var(--inner-spacing-3) 0
    var(--color-shadow-elevation-1);
  --box-shadow-2: 0 var(--inner-spacing-1) var(--inner-spacing-3) 0
    var(--color-shadow-elevation-2);
  --box-shadow-3: 0 calc(var(--inner-spacing-1) / 2) var(--inner-spacing-3) 0
    var(--color-shadow-elevation-3);
  --border-width-1: 1px;
  --border-width-2: 2px;
  --opacity-disabled: 0.65;
  --z-index-1: 3;
  --z-index-2: 4;
  --z-index-3: 10;
  --z-index-99: 990;
}
