@import url("../../wds/src/styles/tokens/raw.css");
@import url("../../wds/src/styles/tokens/semantic.css");
@import url("../../wds/src/styles/globals.css");

html, body, #root {
  height: 100%;
  width: 100%;
}

*, :after, :before {
  border: 0 solid #e4e4e7;
  box-sizing: border-box;
}
