.headerWrapper.headerWrapper {
  padding: 0 12px;
  display: flex;
  justify-content: space-between;
}

.header.header {
  margin-left: 10px;
}

.autosave.autosave {
  font-size: 12px !important;
  color: #999 !important;
}

.headerControls {
  gap: 1rem;
  justify-content: right !important;
}

.content {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 40px);
}

.contentLeft {
  flex-basis: 50%;
  border: none;
}

.loader {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
}
