.table-header {
  display: flex;
  gap: var(--outer-spacing-1);
  padding: var(--outer-spacing-1);
  border-bottom: var(--border-width-1) solid var(--color-bd);
  container-type: inline-size;
  container-name: table-header;

  & [data-field] {
    width: clamp(var(--sizing-30), 30cqw, var(--sizing-60));
  }

  & [data-table-actions] {
    width: auto;
  }

  & [data-table-header-pagination] {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 0;
    gap: var(--outer-spacing-1);
    container-name: table-header-pagination;
    container-type: inline-size;
  }

  & [data-table-header-pagination] > [data-field] {
    width: 5ch;
  }

  & [data-table-header-pagination] > [data-field] input {
    text-align: center;
  }
}

@container table-header-pagination (inline-size < 200px) {
  &
    [data-table-header-pagination]
    > :is([class*="wds-footnote-text"], [data-field]) {
    display: none;
  }
}
