.popover {
  background-color: var(--color-bg-elevation-3);
  border-radius: var(--border-radius-elevation-3);
  z-index: var(--z-index-99);
  box-shadow: var(--box-shadow-1);
}

.popover:is([data-select-popover], [data-combobox-popover]) {
  transform: translateX(calc(-1 * var(--inner-spacing-2, 0)));
}
