div.comboboxInputGroup {
  padding: 0;
  gap: 0;
}

input.comboboxInput {
  padding-inline: var(--inner-spacing-2);
  padding-block: var(--inner-spacing-1);
}

.comboboxTriggerButton {
  position: absolute;
  inset-inline-end: var(--inner-spacing-2);
}
