/* NOTE: these field styles are used in every input component that has a label
 for e.g input, select, checkbox group, toggle group, radio group, etc */
.field{
  &[data-field] {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2);

    &[data-position="side"] {
      flex-direction: row;
    }
  }

  /**
  * ----------------------------------------------------------------------------
  * FIELD LABEL
  *-----------------------------------------------------------------------------
  */
  & [data-field-label-wrapper] {
    display: flex;
    align-items: center;
    gap: var(--spacing-1);
    height: var(--sizing-3);
  }

  & [data-field-label] {
    display: flex;
    align-items: center;
    gap: var(--spacing-1);
    height: fit-content;
    color: var(--color-fg);
  }

  /**
  * ----------------------------------------------------------------------------
  * REQUIRED ICON
  *-----------------------------------------------------------------------------
  */
  & [data-field-necessity-indicator-icon] {
    width: var(--spacing-2);
    height: var(--spacing-2);
    color: var(--color-fg-negative);
  }

  /**
  * ----------------------------------------------------------------------------
  * ERROR TEXT
  *-----------------------------------------------------------------------------
  */
  & [data-field-error-text] {
    display: flex;
    align-items: center;
    color: var(--color-fg-negative);
  }

  /**
  * ----------------------------------------------------------------------------
  * FIELD GROUP
  *-----------------------------------------------------------------------------
  */
  & [data-field-group] {
    gap: var(--spacing-2);
    display: flex;
    flex-direction: column;

    &[data-orientation="horizontal"] {
      gap: var(--spacing-4);
      flex-direction: row;
    }

    &[data-disabled] [data-label] {
      cursor: default;
    }
  }

  /**
  * ----------------------------------------------------------------------------
  * FIELD WRAPPER
  *-----------------------------------------------------------------------------
  */
  & [data-field-input-wrapper] {
    gap: var(--spacing-2);
    display: flex;
    flex-direction: column;
  }

  /**
  * ----------------------------------------------------------------------------
  * DISABLED
  *-----------------------------------------------------------------------------
  */
  &[data-disabled] {
    opacity: var(--opacity-disabled);
    cursor: default;
  }
}
