/* NOTE: these field styles are used in every input component that has a label
 for e.g input, select, checkbox group, toggle group, radio group, etc */
.field {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3);

  /**
  * ----------------------------------------------------------------------------
  * FIELD LABEL
  *-----------------------------------------------------------------------------
  */
  & [data-field-label] {
    display: flex;
    align-items: center;
    gap: var(--spacing-2);
    height: fit-content;
    color: var(--color-fg);
  }

  &[data-disabled] [data-field-label] {
    opacity: var(--opacity-disabled);
    cursor: default;
  }

  /**
  * ----------------------------------------------------------------------------
  * REQUIRED ICON
  *-----------------------------------------------------------------------------
  */
  & [data-field-necessity-indicator-icon] {
    width: var(--spacing-2);
    height: var(--spacing-2);
  }

  /**
  * ----------------------------------------------------------------------------
  * ERROR TEXT
  *-----------------------------------------------------------------------------
  */
  & [data-field-error-text] {
    display: flex;
    align-items: center;
    color: var(--color-fg-negative);
  }

  /**
  * ----------------------------------------------------------------------------
  * FIELD GROUP
  * fields group refers group components like checkbox group, radio group, etc
  *-----------------------------------------------------------------------------
  */
  & [data-field-group] {
    gap: var(--spacing-2);
    display: flex;
    flex-direction: column;
  }

  &[data-disabled] [data-field-group] [data-label] {
    cursor: default;
  }

  & [data-field-group][data-orientation="horizontal"] {
    gap: var(--spacing-4);
    flex-direction: row;
  }

  /**
  * ----------------------------------------------------------------------------
  * FIELD WRAPPER
  *-----------------------------------------------------------------------------
  */
  & [data-field-wrapper] {
    gap: var(--spacing-3);
    display: flex;
    flex-direction: column;
  }
}
