name: ADS GIT

on:
  # This workflow can be triggered manually from the GitHub Actions page
  workflow_dispatch:

jobs:
  server-build:
    name: server-build
    uses: ./.github/workflows/server-build.yml
    secrets: inherit
    with:
      pr: 0
      skip-tests: "true"

  client-build:
    name: client-build
    uses: ./.github/workflows/client-build.yml
    secrets: inherit
    with:
      pr: 0
      skip-tests: "true"

  rts-build:
    name: rts-build
    uses: ./.github/workflows/rts-build.yml
    secrets: inherit
    with:
      pr: 0

  ci-test-limited:
    needs: [ client-build, server-build, rts-build ]
    name: ci-test-limited
    uses: ./.github/workflows/ci-test-limited-git.yml
    secrets: inherit
    with:
      pr: 0