name: Docker Image CI

on:
  push:
    branches: [ release ]
  pull_request:
    branches: [ release ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag my-image-name:$(date +%s)
      
  buildx:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build the Docker image
      run: docker buildx build . --file Dockerfile --tag my-image-name:$(date +%s)      
