# This workflow is responsible for syncing the release branch from the community edition repository
name: Sync Community workflow

on:
  workflow_dispatch:
  schedule:
  - cron: "0 * * * *"

jobs:
  repo-sync:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        ref: release
        fetch-depth: 0

    # This step pulls the merges the latest release branch from the Appsmith CE into EE repository
    - name: repo-sync
      run: |
        git remote add community https://github.com/appsmithorg/appsmith.git
        git config user.email "automated@github.com"
        git config user.name "Automated Github Action"
        git config pull.rebase false
        git pull community release --no-edit
        git push origin release

