name: "Tests Storybook stories"

on:
  workflow_dispatch:

jobs:
  storybook-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout PR if pull_request event
        if: github.event_name == 'pull_request'
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: refs/pull/${{ github.event.pull_request.number }}/merge

      - name: Checkout PR if push event
        if: github.event_name == 'push'
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: release

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: app/client/package.json

      - name: Install Dependencies
        working-directory: ./app/client/packages/storybook
        run: yarn install --immutable

      - name: Storybook Tests
        id: Test Storybook
        uses: actions/setup-node@v4
        with:
          node-version-file: app/client/package.json

      - name: Install Playwright
        run: npx playwright install --with-deps

      - name: Serve Storybook and run tests
        with:
          workingDir: ./app/client/packages/storybook
          buildScriptName: "test-storybook:ci"
