name: Build WDS Vercel Preview
on:
  issue_comment:
  workflow_dispatch:
    repository_dispatch:
    types: [ build-wds-preview-command ]
jobs:
  vercel-build:
    # if: ${{ github.event.issue.pull_request && contains(github.event.comment.body, '/build-wds-preview') }}
    name: vercel-wds-build
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: /app/client/packages/storybook
    env:
      VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
      VERCEL_PROJECT_ID: ${{ secrets.VERCEL_WDS_PROJECT_ID }}

    steps:
      - name: Checkout PR
        uses: actions/checkout@v3
        with:
          ref: "refs/pull/${{ github.event.client_payload.pull_request.number }}/merge"

      - name: Install Vercel CLI
        run: npm install --global vercel@latest

      - name: Use Node.js 16.14.0
        if: steps.run_result.outputs.run_result != 'success'
        uses: actions/setup-node@v3
        with:
          node-version: "16.14.0"
   

      - name: Pull Vercel Environment Information
        run: vercel pull --yes --token=${{ secrets.VERCEL_TOKEN }}

      - name: Build Project Artifacts
        run: vercel build --yes --token=${{ secrets.VERCEL_TOKEN }}

      - name: Deploy Project Artifacts to Vercel
        run: vercel deploy --prebuilt --token=${{ secrets.VERCEL_TOKEN }}